FOOTBALL_DATA_API_KEY=your_football_data_key_here
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
APISPORTS_KEY=
APISPORTS_BASE_URL=https://v3.football.api-sports.io
SEASON=2025
PORT=3000
SCRAPE_INTERVAL_MS=86400000
SCRAPE_ON_STARTUP=true
